  <div class="row align-center mb-5">
  <div class="col-md-6">
    <!-- Call the helper function with triple brackets to render the span as HTML -->
  </div>
  <div class="col-md-6">
    <h3><a href=></a></h3>
<section class="question">
  <label for="drop-down">Choose Category: 
   <select name="drop-down" id="drop-down">
   <option value="his">History</option>
   <option value="geo">Geography</option>
   <option value="sci">Science</option>
   <option value="spe">Spelling</option>
   <option value="vid">Video Game</option>
   <option value="mov">Movies</option>
   <option value="art">Artists</option>
   <option value="fam">Famouse People/celebreties</option>
   <option value="law">Law</option>
   <option value="ran">Random</option>
   </select>
  </label>
</section>
<section class="number-of-ques">
   <label for="drop-downs"> Pick The Set Of Questions:  
    <select name="drop-down" id="drop-downs">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="15">15</option>
      <option value="20">20</option>
      <option value="25">25</option>

    </select>
   </label>
</section>
<section class="start">
  <button class="start">Start Quiz</button>
</section>
<section class="highscore">
  <button class="score">View Highscors</button>
</section>
</div>
</div>

<script src="/public/js/script.js"></script>



