<h1>{{{get_emoji}}} Login to see the highest score  </h1>
<link rel="stylesheet" href="/css/style.css">
<form class="form login-form">
  
  <div class="form-group">
    <label for="userName-login">userName:</label>
    <input class="form-input" type="text" id="userName-login" />
  </div>
  <div class="form-group">
    <label for="password-login">password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">login</button>
  </div>
</form>
 <div class="signUp">
    <button class="btn btn-primary sign_up" type="submit">Signup</button>
  </div>
  <h4>Brought to you by: Thair,  Pat,  Sam and  Eddie</h4>


<script src="/js/login.js"></script>
