

<section class="resultsPage">
    {{#each results as |result| }}
    <div class="questionResult">Question: {{result.quiz.question}} </div>
    <div class="selectedAnswer">Selected: {{result.questionGuess}} </div>
    <div class="correctAnswer">Correct Answer: {{result.quiz.correctAnswer}} </div>
    {{/each}}
</section>