<form class="text-center p-3 createForm card2 " id="signup-form">
  <h1>Create Your Account</h1>
  <div class="form-group d-flex justify-content-around">
    <div class="form-group">
      <label for="userName">User Name</label>
      <input type="userName" class="form-control width" id="username-signup" aria-describedby="emailHelp"
        placeholder="User Name">
    </div>
  </div>
  <div class="form-group d-flex justify-content-around">
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control width" id="password-signup" placeholder="Password">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>

<script src="/js/signup.js"></script>